<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>960394516248-3pslnkgr0td7u38lij4hm5mkcueucueu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.960394516248-3pslnkgr0td7u38lij4hm5mkcueucueu</string>
	<key>API_KEY</key>
	<string>AIzaSyCnTFThWlP230LuzBu4vOThTRSrktoRUHQ</string>
	<key>GCM_SENDER_ID</key>
	<string>960394516248</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterapp</string>
	<key>PROJECT_ID</key>
	<string>flutter-test-app-68641</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-test-app-68641.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:960394516248:ios:f769a0a5c0c18776e0306d</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-test-app-68641.firebaseio.com</string>
</dict>
</plist>